@media screen and (max-width: 500px) {
    body {
        padding-top: 200px;
    }
    .nav-link{
        font-size: 80% !important;
        text-align: center;
    }
    #imgBrand{
        margin-left: auto;
        margin-right: auto;
    }
    .list-group-item{
        padding: .40rem .70rem !important;
    }
    #imgPc{
        margin-bottom: 10px !important;
    }
    .elementInfoBas{
        font-size : 3.5vw !important;
        border: 1px dotted rgb(181, 191, 202);
        border-radius: 10px 10px 10px 10px;
    }
    .list-group-item{
        font-size: 10px !important;
    }
    .subsubtitle{
        font-size: 4vw !important; 

    }
    .ghost , .spaced, #c{
        font-size: 1em !important;
    }
  }
body{
    padding-top: 100px;
}
#imgbrand{
    max-width: 100%;
    width : 45px; 
    margin-left: 2%;
}
.imgLittle{
    width : 30px; 
}
.imgHobbie{
    width : 30vw;
    padding-bottom: 5px;
}
.cardHobbie:hover{
    box-shadow: 10px 10px 20px 0px rgba(255, 255, 255, 0.5);

}
.imgMedian{
    width : 35px; 
}
.imgBitLittle{
    width : 35px; 
}
.left{
    float : left;
}
#imgPc{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#imgMe{
    width : 25vw; 
    box-shadow: 0 8px 6px -6px black;

}
.principal-navbar{
    background-color: white;
    border-bottom: 2px inset rgb(218, 198, 24);
    padding: 9px 10px;

}
.nav-link:hover{
    color: #085969;
    border-color: rgb(116, 106, 17);
    border-style: solid;
    border-radius: 10px;

}
.nav-link{
    color: black;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
}
footer{
    background-color: rgb(255, 255, 255);;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
}
.custom-navbar{
    padding: 7px 7px;

}
#temp{
    padding:0 0 0 10px;
}
.centered2{
    display: flex;
    text-align: center
}
.meInformation{
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    text-align: center;
}
.card{
    border: none;
    margin: 0 auto; 
    float: none; 
}
.navbar-toggler{
    border-color: rgb(218, 198, 24);
    border-style: solid;
}
.navbar-toggler-icon{
    color: black;
}
.fa-bars{
    color: rgb(114, 95, 13);
}
.banner{
    text-align: center;
    background-color: rgb(231, 221, 176);
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top : 0;
}
#infog{
    display: flex;
    align-items: center;
    padding-left: 9vh;
    padding-right: 9vh;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(255, 248, 214);
}
.modal{
    font-family: 'Montserrat', sans-serif;
}
#nombre{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 7vw;
    color: white;
}
.whoami{
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: inline;
    font-weight: bolder;
}
.comma{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    color: white;

}
#listGeneralInfo{
    list-style-type: none;
}

/* career */

.text {
    list-style: none;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
  }
  .text li {
    font-weight: 700;
    font-size: 2em;
    color: black;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    max-width: 2em;
  }
  .text.hidden li.spaced {
    padding-left: 0;
  }
  .text li.spaced {
    padding-left: 0.2em;
  }
  
  .text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
  }
  /* fin banner */
  #foto{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
  }
  .infoBasica{
    font-family: 'Fira Sans', sans-serif;
    border: 2px groove rgba(236, 214, 178, 0.87);
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 21px 21px 21px 21px;
    background-color: white;
    text-align: center;
  }
  #nombreLargo{
      text-align: center;
      font-size: 5vw;
      font-weight: 100;
      color: rgb(143, 134, 95);
      -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
  }
  .elementInfoBas{
    font-size: 2vw;
    border: 1px dotted rgb(181, 191, 202);
    border-radius: 10px 10px 10px 10px;
  }
  /* Education */
  #formaca{
    text-align: center;
    background-color: rgb(231, 205, 176);
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #skills{
    text-align: center;
    background-color: rgb(253, 230, 153);
    padding-top: 100px;
    padding-bottom: 50px;

  }
  .lenguajes{
      display: flex;
      align-content: center;
      font-family: 'Fira Sans', sans-serif;
  }
  .subtitle-style-font{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: white;
    padding-bottom: 1px;
  }
  .subsubtitle{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5vw;
    color: white;
  }
  .subsubtitle-black{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2vw;
    color: black;
  }
  .progress-title{
    font-size: 15px;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    margin-top: 5px;
  }
  .progress{
      background-color: white;
      margin-bottom: 4px;
  }
  #dpBarOne{
      background-color : rgb(192, 117, 31)
  }
  #dpBarTwo{
    background-color : rgb(207, 74, 12)
}
#dpBarThree{
    background-color : rgb(219, 154, 14)
}
#dpBarFour{
    background-color : rgb(240, 53, 28)
}
.charts{
      padding-bottom: 50px;
  }
  .subtitle-style-font-black{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    color: black;
  }
  .listaEducacion{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    margin-top: 2px;
    padding-left: 2px;
    font-size: 1.5vw;

  }
.itemHover:hover{
      border-color: rgb(68, 42, 13);
      border-bottom-width: 3px;
}
.list-group-item.active{
    background-color: rgb(68, 42, 13);
    border-color: white;
}
.btnclose{
    background-color: rgb(99, 6, 6);
    color: white;
}
.btnclose:hover{
    background-color: rgb(107, 44, 44);
    color: white;
}
.skillsCol{
   padding-left: 12px;
   margin-top: 10px;
}
.proyContainer{
    padding: 3px;
}
#proy{
    text-align: center;
    background-color: rgb(248, 184, 159);
    padding-top: 75px;
    padding-bottom: 70px;
}
#intereses{
    text-align: center;
    background-color: rgb(248, 159, 159);
    padding-top: 75px;
    padding-bottom: 70px;
    font-family: 'Fira Sans', sans-serif;
}
.proysContainer{
    font-family: 'Fira Sans', sans-serif;
}
.card-title{
    font-weight : bolder;
}
.highlight-f{
    background-color: rgb(66, 126, 255);
    color : white;
}

.highlight-s{
    background-color: rgb(94, 66, 255);
    color : white;
}
#hobbiesRows{
    align-content: center;
}
.textInModal{
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 10px;
}
.chelseaModal{
    text-align: center;
}



  /* floating  reference : https://codepen.io/whusterj/pres/bdYKop*/
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}