@media screen and (max-width: 500px) {
    body {
        padding-top: 200px;
    }
    .nav-link{
        font-size: 80%;
        text-align: center;
    }
    #imgBrand{
        margin-left: auto;
        margin-right: auto;
    }
    .list-group-item{
        padding: .40rem .70rem;
    }
    #imgPc{
        margin-bottom: 10px;
    }
    .elementInfoBas{
        font-size : .8vw;
        border: 1px dotted rgb(181, 191, 202);
        border-radius: 10px 10px 10px 10px;
    }
    .list-group-item{
        font-size: 10px;
    }
  }
body{
    padding-top: 100px;
}
#imgbrand{
    max-width: 100%;
    width : 45px; 
    margin-left: 2%;
}
.imgLittle{
    width : 25px; 
}
#imgPc{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#imgMe{
    width : 20vw; 
    box-shadow: 0 8px 6px -6px black;


}
.principal-navbar{
    background-color: white;
    border-bottom: 2px inset rgb(218, 198, 24);
    padding: 9px 10px;

}
.nav-link:hover{
    color: #085969;
    border-color: rgb(116, 106, 17);
    border-style: solid;
    border-radius: 10px;

}
.nav-link{
    color: black;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
}
footer{
    background-color: rgb(255, 255, 255);;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
}
.custom-navbar{
    padding: 7px 7px;

}
#temp{
    padding:0 0 0 10px;
}
.centered2{
    display: flex;
    text-align: center
}
.meInformation{
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    text-align: center;
}
.card{
    border: none;
    background-color: black;
    margin: 0 auto; 
    float: none; 
}
.navbar-toggler{
    border-color: rgb(218, 198, 24);
    border-style: solid;
}
.navbar-toggler-icon{
    color: black;
}
.fa-bars{
    color: rgb(114, 95, 13);
}
.banner{
    text-align: center;
    background-color: rgb(231, 221, 176);
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top : 0;
}
#infog{
    display: flex;
    align-items: center;
    padding-left: 9vh;
    padding-right: 9vh;
    background-color: rgb(255, 248, 214);
    min-height: 100vh;
}
.modal{
    font-family: 'Montserrat', sans-serif;

}
#nombre{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 6vw;
    color: white;
}
.whoami{
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: inline;
    font-weight: bolder;
}
.comma{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    color: white;

}
#listGeneralInfo{
    list-style-type: none;
}

/* career */

.text {
    list-style: none;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
  }
  .text li {
    font-weight: 700;
    font-size: 2em;
    color: black;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    max-width: 2em;
  }
  .text.hidden li.spaced {
    padding-left: 0;
  }
  .text li.spaced {
    padding-left: 0.2em;
  }
  
  .text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
  }
  /* fin banner */
  #foto{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
  }
  .infoBasica{
    font-family: 'Fira Sans', sans-serif;
    border: 2px groove rgba(236, 214, 178, 0.87);
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 21px 21px 21px 21px;
    background-color: white;
    text-align: center;
  }
  #nombreLargo{
      text-align: center;
      font-size: 4vw;
      font-weight: 100;
      color: rgb(143, 134, 95);
      -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
  }
  .elementInfoBas{
    font-size: 1.8vw;
    border: 1px dotted rgb(181, 191, 202);
    border-radius: 10px 10px 10px 10px;
  }
  /* Education */
  #formaca{
    text-align: center;
    background-color: rgb(231, 205, 176);
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #skills{
    text-align: center;
    background-color: rgb(253, 230, 153);
    padding-top: 50px;
    padding-bottom: 50px;

  }
  .lenguajes{
      display: flex;
      align-content: center;
      font-family: 'Fira Sans', sans-serif;
  }
  .subtitle-education{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    color: white;
  }
  .subsubtitle{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2vw;
  }
  .progress-title{
    font-size: 1.3vw;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
  }
  .progress{
      background-color: white;
  }
  #dpBarOne{
      background-color : rgb(24, 228, 75)
  }
  #dpBarTwo{
    background-color : rgb(24, 221, 228)
}
#dpBarThree{
    background-color : rgb(228, 48, 24)
}
#dpBarFour{
    background-color : rgb(228, 24, 218)
}
.charts{
      padding-bottom: 50px;
  }
  .subtitle-education-black{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    color: black;
  }
  .listaEducacion{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    margin-top: 2px;
    padding-left: 2px;
    font-size: 1.5vw;

  }
  .itemHover:hover{
      border-color: rgb(68, 42, 13);
      border-bottom-width: 3px;
}
.list-group-item.active{
    background-color: rgb(68, 42, 13);
    border-color: white;
}
.btnclose{
    background-color: rgb(99, 6, 6);
    color: white;
}
.btnclose:hover{
    background-color: rgb(107, 44, 44);
    color: white;
}
.algorithms{
    margin-left: 12px;
}



  /* floating  reference : https://codepen.io/whusterj/pres/bdYKop*/
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}